dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
*.bat

# Sublime
*.sublime-project
*.sublime-workspace


# EclipseFP
.dist-buildwrapper/

.project
.settings/
.stylish-haskell.yaml